@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "react-phone-input-2/lib/style.css";

:root {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #0b181fff;
  --color-secundary: #ffffff;
  --color-bg: #fcfbfc;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: var(--color-bg);
    overflow-x: hidden;
  }
}

@keyframes border-spin {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

@layer components {
  .btn-primary {
    @apply relative bg-[#121212] text-white rounded-lg overflow-hidden transition-all duration-300 cursor-pointer;
  }

  .btn-primary::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.5rem;
    padding: 2px; /* espessura da borda */
    background: linear-gradient(90deg, #6366f1, #ec4899, #f59e0b, #6366f1);
    background-size: 300% 300%;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    opacity: 0;
    transition: opacity 0.3s ease;
    animation: border-spin 3s linear infinite;
  }

  .btn-primary:hover::before {
    opacity: 1;
  }

  .text-link {
    @apply text-blue-400 transition-colors;
  }

  .text-link:hover {
    @apply text-blue-500 underline;
  }
}